/* src/style.sass: main CSS source file
 *
 * Copyright 2019 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
 *
 * This program comes with ABSOLUTELY NO WARRANTY
 * This is free software, and you are welcome to redistribute it and/or modify
 * it under the terms of the BSD 2-clause License. See the LICENSE file for more
 * details.
 *
 */

*
  box-sizing: border-box

html
  height: 100%

button
  border: none

body
  display: grid
  height: 100vh
  grid-template-rows: 1fr auto
  margin: 0

#viewFinder
  background-color: #000
  position: absolute
  height: 100vh
  width: 100vw
  z-index: 999

  video
    width: 100%
    height: 100%
    position: absolute
    z-index: 1

  .buttons
    background-color: rgba(0, 0, 0, .75)
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 10vw
    position: absolute
    bottom: 0
    padding: 5vh 5vw
    width: 100%
    z-index: 2

    @media (max-width: 666px)
      grid-template-columns: repeat(2, 1fr)

    button
      background: transparent
      width: auto
      height: 12vh
      cursor: pointer

      img
        height: 100%
        max-width: 20vw

    .close
      font-size: 5em
      line-height: 0
      color: #f00

    .capture
      color: #0f0

    @media (min-width: 667px)
      .capture
        grid-column: 3

      .close
        grid-column: 2

.item-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(5, min-content)
  grid-gap: .75em
  padding: 0 .75em
  margin: .75em 0
  overflow-y: auto

  & > div
    position: relative
    display: grid
    grid-template-rows: 1fr auto
    justify-items: center
    border: 1px solid #ddd

    img
      width: 100%
      align-self: center

    span
      padding: .5em 0

    button
      display: none
      position: absolute
      right: 0

    &.selected
      border: 2px solid #335

      button
        display: block

      :not(button)
        filter: blur(2px) grayscale(1)

.entry-form
  font-size: 2em
  background-color: #335
  padding: .5em
  display: grid
  grid-template-columns: auto auto 3fr 2fr
  grid-gap: .25em

  input
    font-size: 1em
    border: none
    width: 100%
    padding: 0 .25em
    text-align: right

    &:placeholder
      color: #eee

  .photo
    background: transparent
    opacity: .5
    height: 38px

    img
      width: auto
      height: 100%

  button
    background-color: #f6f5f4
    cursor: pointer

  .btn-add
    font-weight: bold

.total-bar
  font-size: 1.5em
  font-weight: bold
  background-color: #557
  color: #fff
  padding: .25em
  margin-bottom: 1px
  text-align: center
  white-space: nowrap

.info-screen
  display: grid
  grid-template-rows: 1fr auto
  height: 100vh

  .info-body
    padding: 0 2em
    overflow: hidden scroll

    h1
      text-align: center

      small
        font-weight: normal
        font-size: 66%
        color: lighten(#000, 25%)

    pre
      white-space: pre-wrap

    .copyright
      text-align: center
      font-style: italic
      font-size: 90%
      color: lighten(#000, 33%)

  button
    margin-top: .5em
    padding: .5em
    font-size: 2em
    font-weight: bold
    color: #ddd
    background-color: #335
